---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="GRL WORLD" />
<main class="flex flex-col justify-center items-center text-center">
  <h1 class="sm:text-8xl text-7xl pt-32 py-5">GRL</h1>
  <h1 class="sm:text-8xl text-7xl">WORLD</h1>
  <!-- <div class=""> -->
  <img src="./img/cloud.svg" alt="" class="box" />
  <img src="./img/cloud.svg" alt="" class="box2" />
  <!-- </div> -->
</main>
<Card title="SHOP" href="/hello" />
<script>
  import { gsap } from "gsap";
  gsap.to(".box, .box2", {
    x: () => window.innerWidth,
    duration: 20,
    repeat: 1000,
  });
</script>
<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 320px;
  }
  h1 {
    font-family: "TAN-NIMBUS", sans-serif;
    color: #466441;
  }
  .box {
    position: absolute;
    left: -20%;
    z-index: -1;
    top: 10%;
    overflow: hidden;
  }
  .box2 {
    position: absolute;
    left: 10%;
    top: 40%;
    /* z-index: -1; */
    overflow: hidden;
  }
</style>
