---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="GRL WORLD" />
<main class="flex flex-col justify-center items-center text-center">
  <h1 class="text-8xl pt-10 py-5">GRL</h1>
  <h1 class="text-8xl">WORLD</h1>
</main>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-family: "TAN-NIMBUS", sans-serif;
    color: #466441;
  }
</style>
