---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="c-header_button">
  <!-- <p class="c-header_button_label">Nouvelle collection</p> -->
  <div class="c-header_button_images">
    <img src="./img/1.jpeg" alt="Grl world image" class="img-1" />
    <img src="./img/2.jpeg" alt="Grl world image" class="img-2" />
  </div>
  <img
    src="./img/arrow.svg"
    alt="Grl arrow down"
    class="c-header_button_arrow"
  />
  <div class="c-button-container">
    <a href={href} class="c-button">{title}</a>
  </div>
</div>

<style>
  .c-header_button {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
  .img-1 {
    max-width: 90px;
    transform: rotate(-10deg);
    border: white 3px solid;
  }
  .img-2 {
    max-width: 90px;
    transform: rotate(10deg);
    border: white 3px solid;
  }
  .c-header_button_images {
    display: flex;
    bottom: 12%;
    left: 30%;
    /* overflow: hidden; */
    /* padding-top: 30px; */
    pointer-events: none;
    position: absolute;
    right: -30px;
  }
  @media (max-width: 767px) {
    .c-app .c-header_button_images {
      height: 160px;
    }
  }
  .c-header_button_arrow {
    left: 20%;
    position: absolute;
    bottom: 10%;
  }
  .c-button-container {
    display: flex;
  }
  .c-button {
    font-family: "TAN-NIMBUS", sans-serif;
    text-align: center;
    margin: auto;
    color: #1c181b;
    cursor: pointer;
    background-color: #f6aad9;
    border: #1c181b 3px solid;
    border-radius: 3px;
    min-width: 214px;
    padding: 13px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }
</style>
