---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="bottom-0 absolute items-center">
  <div class="c-header_button">
    <!-- <p class="c-header_button_label">Nouvelle collection</p> -->
    <div class="c-header_button_images">
      <img src="./img/1.jpeg" alt="Grl world image" class="img-1" />
      <img src="./img/2.jpeg" alt="Grl world image" class="img-2" />
    </div>
    <img
      src="./img/arrow.svg"
      alt="Grl arrow down"
      class="c-header_button_arrow"
    />
    <div class="c-button-container">
      <a href={href} class="c-button">{title}</a>
    </div>
  </div>
</div>

<style>
  .c-header_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    bottom: 0;
  }
  .img-1 {
    max-width: 90px;
    transform: rotate(-10deg);
    border: white 3px solid;
  }
  .img-2 {
    max-width: 90px;
    transform: rotate(10deg);
    border: white 3px solid;
  }
  .c-header_button_images {
    display: flex;
    pointer-events: none;
    margin-bottom: 25%;
  }
  @media (max-width: 767px) {
    .c-app .c-header_button_images {
      height: 160px;
    }
  }
  .c-header_button_arrow {
    position: absolute;
    margin-right: 100%;
    bottom: 40%;
  }
  .c-button-container {
    display: flex;
  }
  .c-button {
    font-family: "TAN-NIMBUS", sans-serif;
    text-align: center;
    margin: auto;
    color: #1c181b;
    cursor: pointer;
    background-color: #f6aad9;
    border: #1c181b 3px solid;
    border-radius: 3px;
    min-width: 214px;
    padding: 13px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }
</style>
